.btnLogin {
    border: 1px solid $mainColor;
    color: $mainColor;
    border-radius: 8px;
}

.btnReg {
    background-color: $mainColor;
    color: #fff;
    border-radius: 8px;
    border: 1px solid;
}

