$backgroundBody:#E5E5E5;
$mainColor:#FB8F1D;
$navTextColor:#B8BECD;
$borderColor:#AFB0B9;
$insideDrop:#4A4C53;
$paragColor:#7D7987;
$featuredHeadingColor: #042521;
$featuredParagColor:#80918E;
$starsColor:#FFBB0C;
$footerBackgroundColor:#F9F9FB;